In [24]:
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
from project_lib import Project
project = Project(project_id='bcdfc3fb-8b77-4f7e-a4a0-999840f93be5', project_access_token='p-d24fb1b3677f7be276253b9b77aa1cebf219a7ac')
pc = project.project_context

In [25]:
! pip install opencage

Requirement already satisfied: opencage in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.2)
Requirement already satisfied: six>=1.4.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from opencage) (1.12.0)
Requirement already satisfied: Requests>=2.2.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from opencage) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from Requests>=2.2.0->opencage) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from Requests>=2.2.0->opencage) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from Requests>=2.2.0->opencage) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from Requests>=2.2.0->opencage) (3.0.4)

In [26]:
from opencage.geocoder import OpenCageGeocode
from pprint import pprint

In [27]:
key = 'd493e62ce8d246499b1284168e580ba8'
geocoder = OpenCageGeocode(key)

In [28]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_13c5f23e088e4651bc569838bd3166ec = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='D7dgshw8K8_2UknjqSOB6TgmmOod-IMOmOWKQrUmQ5J2',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_13c5f23e088e4651bc569838bd3166ec.get_object(Bucket='datascience320finalproject-donotdelete-pr-oghkbzvbwhznzj',Key='Ready_ComputerMath.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df1 = pd.read_csv(body)
df1.head()

,City,State,title,a_mean
0,Anchorage,Alaska,Computer and Mathematical Occupations,40.13
1,Fairbanks,Alaska,Computer and Mathematical Occupations,36.80
2,Anniston-Oxford-Jacksonville,Alabama,Computer and Mathematical Occupations,29.98
3,Auburn-Opelika,Alabama,Computer and Mathematical Occupations,34.29
4,Birmingham-Hoover,Alabama,Computer and Mathematical Occupations,38.58

In [29]:
list_lat = []   # create empty lists

list_long = []


	
for index, row in df1.iterrows(): # iterate over rows in dataframe



    City = row['City']
    State = row['State']       
    query = str(City)+','+str(State)

    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']

    list_lat.append(lat)
    list_long.append(long)

	
# create new columns from lists

In [30]:
df1['lat'] = list_lat   

df1['lon'] = list_long

In [31]:
df1

,City,State,title,a_mean,lat,lon
0,Anchorage,Alaska,Computer and Mathematical Occupations,40.13,61.216313,-149.894852
1,Fairbanks,Alaska,Computer and Mathematical Occupations,36.80,64.837845,-147.716675
2,Anniston-Oxford-Jacksonville,Alabama,Computer and Mathematical Occupations,29.98,33.752933,-85.784955
3,Auburn-Opelika,Alabama,Computer and Mathematical Occupations,34.29,32.611121,-85.437537
4,Birmingham-Hoover,Alabama,Computer and Mathematical Occupations,38.58,33.370890,-86.814073
5,Daphne-Fairhope-Foley,Alabama,Computer and Mathematical Occupations,33.25,30.406590,-87.683600
6,Decatur,Alabama,Computer and Mathematical Occupations,32.32,34.618810,-87.051507
7,Dothan,Alabama,Computer and Mathematical Occupations,33.13,31.223743,-85.393391
8,Florence-Muscle Shoals,Alabama,Computer and Mathematical Occupations,27.36,34.757526,-87.655901
9,Gadsden,Alabama,Computer and Mathematical Occupations,32.79,34.010929,-85.998960
10,Huntsville,Alabama,Computer and Mathematical Occupations,46.80,34.729847,-86.585901
11,Mobile,Alabama,Computer and Mathematical Occupations,36.32,30.694357,-88.043054
12,Montgomery,Alabama,Computer and Mathematical Occupations,38.70,32.366966,-86.300648
13,Tuscaloosa,Alabama,Computer and Mathematical Occupations,32.01,33.209561,-87.567526
14,Fayetteville-Springdale-Rogers,Arkansas,Computer and Mathematical Occupations,34.96,36.042826,-94.233876
15,Fort Smith,Arkansas,Computer and Mathematical Occupations,31.59,35.387222,-94.424898
16,Hot Springs,Arkansas,Computer and Mathematical Occupations,27.88,34.503839,-93.055244
17,Jonesboro,Arkansas,Computer and Mathematical Occupations,24.96,35.842865,-90.703452
18,Little Rock-North Little Rock-Conway,Arkansas,Computer and Mathematical Occupations,33.55,34.708985,-92.235641
19,Pine Bluff,Arkansas,Computer and Mathematical Occupations,28.85,34.215706,-92.014040
20,Flagstaff,Arizona,Computer and Mathematical Occupations,34.31,35.198752,-111.651823
21,Lake Havasu City-Kingman,Arizona,Computer and Mathematical Occupations,29.36,34.509740,-114.347971
22,Phoenix-Mesa-Scottsdale,Arizona,Computer and Mathematical Occupations,40.32,33.509210,-111.899030
23,Prescott,Arizona,Computer and Mathematical Occupations,32.70,34.539996,-112.468762
24,Sierra Vista-Douglas,Arizona,Computer and Mathematical Occupations,42.24,31.557415,-110.285414
25,Tucson,Arizona,Computer and Mathematical Occupations,39.41,32.222876,-110.974848
26,Yuma,Arizona,Computer and Mathematical Occupations,33.98,32.665135,-114.476032
27,Bakersfield,California,Computer and Mathematical Occupations,42.46,35.373871,-119.019464
28,Chico,California,Computer and Mathematical Occupations,36.42,39.728494,-121.837478
29,El Centro,California,Computer and Mathematical Occupations,36.65,32.792000,-115.563051
...,...,...,...,...,...,...
348,Kennewick-Richland,Washington,Computer and Mathematical Occupations,43.30,46.230674,-119.092101
349,Longview,Washington,Computer and Mathematical Occupations,35.98,46.137705,-122.934462
350,Mount Vernon-Anacortes,Washington,Computer and Mathematical Occupations,37.76,48.419677,-122.338803
351,Olympia-Tumwater,Washington,Computer and Mathematical Occupations,40.74,47.012918,-122.900455
352,Seattle-Tacoma-Bellevue,Washington,Computer and Mathematical Occupations,54.69,47.610380,-122.200680
353,Spokane-Spokane Valley,Washington,Computer and Mathematical Occupations,35.12,47.657110,-117.261394
354,Walla Walla,Washington,Computer and Mathematical Occupations,32.35,46.065038,-118.330248
355,Wenatchee,Washington,Computer and Mathematical Occupations,34.65,47.423460,-120.310349
356,Yakima,Washington,Computer and Mathematical Occupations,34.26,46.601557,-120.510842
357,Appleton,Wisconsin,Computer and Mathematical Occupations,36.10,44.261134,-88.406760
358,Eau Claire,Wisconsin,Computer and Mathematical Occupations,30.35,44.811349,-91.498494
359,Fond du Lac,Wisconsin,Computer and Mathematical Occupations,34.13,43.774876,-88.445803
360,Green Bay,Wisconsin,Computer and Mathematical Occupations,35.69,44.512638,-88.012579
361,Janesville-Beloit,Wisconsin,Computer and Mathematical Occupations,31.41,42.672025,-89.204603
362,La Crosse-Onalaska,Wisconsin,Computer and Mathematical Occupations,32.42,43.845521,-91.262361
363,Madison,Wisconsin,Computer and Mathematical Occupations,39.12,43.074761,-89.383761
364,Milwaukee-Waukesha-West Allis,Wisconsin,Computer and Mathematical Occupations,38.14,44.322088,-89.734735
365,Oshkosh-Neenah,Wisconsin,Computer and Mathematical Occupations,33.68,44.080817,-88.564834
366,Racine,Wisconsin,Computer and Mathematical Occupations,36.70,42.726052,-87.782524
367,Sheboygan,Wisconsin,Computer and Mathematical Occupations,38.04,43.750828,-87.714530
368,Wausau,Wisconsin,Computer and Mathematical Occupations,35.72,44.959602,-89.629824
369,Beckley,West Virginia,Computer and Mathematical Occupations,25.78,37.778170,-81.188156
370,Charleston,West Virginia,Computer and Mathematical Occupations,30.20,38.350600,-81.633281
371,Huntington-Ashland,West Virginia,Computer and Mathematical Occupations,30.83,38.410222,-82.435487
372,Morgantown,West Virginia,Computer and Mathematical Occupations,35.64,39.629681,-79.955944
373,Parkersburg-Vienna,West Virginia,Computer and Mathematical Occupations,37.92,39.321683,-81.440914
374,Weirton-Steubenville,West Virginia,Computer and Mathematical Occupations,29.39,39.077365,-78.593865
375,Wheeling,West Virginia,Computer and Mathematical Occupations,30.45,40.063962,-80.720915
376,Casper,Wyoming,Computer and Mathematical Occupations,30.64,42.866632,-106.313081
377,Cheyenne,Wyoming,Computer and Mathematical Occupations,34.15,41.139981,-104.820246

In [32]:
df_ComputerMathPayRange = df1[['a_mean','lat','lon']]
df_ComputerMathPayRange

     a_mean        lat         lon
0     40.13  61.216313 -149.894852
1     36.80  64.837845 -147.716675
2     29.98  33.752933  -85.784955
3     34.29  32.611121  -85.437537
4     38.58  33.370890  -86.814073
5     33.25  30.406590  -87.683600
6     32.32  34.618810  -87.051507
7     33.13  31.223743  -85.393391
8     27.36  34.757526  -87.655901
9     32.79  34.010929  -85.998960
10    46.80  34.729847  -86.585901
11    36.32  30.694357  -88.043054
12    38.70  32.366966  -86.300648
13    32.01  33.209561  -87.567526
14    34.96  36.042826  -94.233876
15    31.59  35.387222  -94.424898
16    27.88  34.503839  -93.055244
17    24.96  35.842865  -90.703452
18    33.55  34.708985  -92.235641
19    28.85  34.215706  -92.014040
20    34.31  35.198752 -111.651823
21    29.36  34.509740 -114.347971
22    40.32  33.509210 -111.899030
23    32.70  34.539996 -112.468762
24    42.24  31.557415 -110.285414
25    39.41  32.222876 -110.974848
26    33.98  32.665135 -114.476032
27    42.46  35.373871 -119.019464
28    36.42  39.728494 -121.837478
29    36.65  32.792000 -115.563051
..      ...        ...         ...
348   43.30  46.230674 -119.092101
349   35.98  46.137705 -122.934462
350   37.76  48.419677 -122.338803
351   40.74  47.012918 -122.900455
352   54.69  47.610380 -122.200680
353   35.12  47.657110 -117.261394
354   32.35  46.065038 -118.330248
355   34.65  47.423460 -120.310349
356   34.26  46.601557 -120.510842
357   36.10  44.261134  -88.406760
358   30.35  44.811349  -91.498494
359   34.13  43.774876  -88.445803
360   35.69  44.512638  -88.012579
361   31.41  42.672025  -89.204603
362   32.42  43.845521  -91.262361
363   39.12  43.074761  -89.383761
364   38.14  44.322088  -89.734735
365   33.68  44.080817  -88.564834
366   36.70  42.726052  -87.782524
367   38.04  43.750828  -87.714530
368   35.72  44.959602  -89.629824
369   25.78  37.778170  -81.188156
370   30.20  38.350600  -81.633281
371   30.83  38.410222  -82.435487
372   35.64  39.629681  -79.955944
373   37.92  39.321683  -81.440914
374   29.39  39.077365  -78.593865
375   30.45  40.063962  -80.720915
376   30.64  42.866632 -106.313081
377   34.15  41.139981 -104.820246

[378 rows x 3 columns]

In [33]:
df_ComputerMathPayRange.describe()

           a_mean         lat         lon
count  378.000000  378.000000  378.000000
mean    36.015952   38.070035  -92.285095
std      5.276249    5.479741   16.113244
min     21.370000   20.242320 -168.021815
25%     32.442500   34.239465  -98.285447
50%     34.910000   38.961911  -87.561687
75%     39.165000   41.878200  -81.073985
max     61.080000   64.837845  -68.777814

In [42]:
# create empty lists

list_PayRange1 = []


	
for index, row in df_ComputerMathPayRange.iterrows(): # iterate over rows in dataframe



    query = row['a_mean']
    if query <= 33:
        level = 'low Pay'
    elif query <= 40:
        level = 'Medium Pay'
    elif query > 40:
        level = 'High Pay'
    list_PayRange1.append(level)
	
# create new columns from lists

In [43]:
df_ComputerMathPayRange['PayRange'] =list_PayRange1

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [44]:
df_ComputerMathPayRange

     a_mean        lat         lon    PayRange
0     40.13  61.216313 -149.894852    High Pay
1     36.80  64.837845 -147.716675  Medium Pay
2     29.98  33.752933  -85.784955     low Pay
3     34.29  32.611121  -85.437537  Medium Pay
4     38.58  33.370890  -86.814073  Medium Pay
5     33.25  30.406590  -87.683600  Medium Pay
6     32.32  34.618810  -87.051507     low Pay
7     33.13  31.223743  -85.393391  Medium Pay
8     27.36  34.757526  -87.655901     low Pay
9     32.79  34.010929  -85.998960     low Pay
10    46.80  34.729847  -86.585901    High Pay
11    36.32  30.694357  -88.043054  Medium Pay
12    38.70  32.366966  -86.300648  Medium Pay
13    32.01  33.209561  -87.567526     low Pay
14    34.96  36.042826  -94.233876  Medium Pay
15    31.59  35.387222  -94.424898     low Pay
16    27.88  34.503839  -93.055244     low Pay
17    24.96  35.842865  -90.703452     low Pay
18    33.55  34.708985  -92.235641  Medium Pay
19    28.85  34.215706  -92.014040     low Pay
20    34.31  35.198752 -111.651823  Medium Pay
21    29.36  34.509740 -114.347971     low Pay
22    40.32  33.509210 -111.899030    High Pay
23    32.70  34.539996 -112.468762     low Pay
24    42.24  31.557415 -110.285414    High Pay
25    39.41  32.222876 -110.974848  Medium Pay
26    33.98  32.665135 -114.476032  Medium Pay
27    42.46  35.373871 -119.019464    High Pay
28    36.42  39.728494 -121.837478  Medium Pay
29    36.65  32.792000 -115.563051  Medium Pay
..      ...        ...         ...         ...
348   43.30  46.230674 -119.092101    High Pay
349   35.98  46.137705 -122.934462  Medium Pay
350   37.76  48.419677 -122.338803  Medium Pay
351   40.74  47.012918 -122.900455    High Pay
352   54.69  47.610380 -122.200680    High Pay
353   35.12  47.657110 -117.261394  Medium Pay
354   32.35  46.065038 -118.330248     low Pay
355   34.65  47.423460 -120.310349  Medium Pay
356   34.26  46.601557 -120.510842  Medium Pay
357   36.10  44.261134  -88.406760  Medium Pay
358   30.35  44.811349  -91.498494     low Pay
359   34.13  43.774876  -88.445803  Medium Pay
360   35.69  44.512638  -88.012579  Medium Pay
361   31.41  42.672025  -89.204603     low Pay
362   32.42  43.845521  -91.262361     low Pay
363   39.12  43.074761  -89.383761  Medium Pay
364   38.14  44.322088  -89.734735  Medium Pay
365   33.68  44.080817  -88.564834  Medium Pay
366   36.70  42.726052  -87.782524  Medium Pay
367   38.04  43.750828  -87.714530  Medium Pay
368   35.72  44.959602  -89.629824  Medium Pay
369   25.78  37.778170  -81.188156     low Pay
370   30.20  38.350600  -81.633281     low Pay
371   30.83  38.410222  -82.435487     low Pay
372   35.64  39.629681  -79.955944  Medium Pay
373   37.92  39.321683  -81.440914  Medium Pay
374   29.39  39.077365  -78.593865     low Pay
375   30.45  40.063962  -80.720915     low Pay
376   30.64  42.866632 -106.313081     low Pay
377   34.15  41.139981 -104.820246  Medium Pay

[378 rows x 4 columns]

In [45]:
project.save_data(data=df_ComputerMathPayRange.to_csv(index=False),file_name='MapComputerMath.csv',overwrite=True)

{'file_name': 'MapComputerMath.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'datascience320finalproject-donotdelete-pr-oghkbzvbwhznzj',
 'asset_id': '1f151ea9-327c-463d-90d4-03b6d31f67d1'}