In [1]:
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
from project_lib import Project
project = Project(project_id='bcdfc3fb-8b77-4f7e-a4a0-999840f93be5', project_access_token='p-d24fb1b3677f7be276253b9b77aa1cebf219a7ac')
pc = project.project_context

In [2]:
! pip install opencage

Collecting opencage
  Downloading https://files.pythonhosted.org/packages/6d/f2/ed48d7e2fbd06f0ac8dbd511fecc233b68b523daccaae9fb1e6e56b240d4/opencage-1.2-py3-none-any.whl
Requirement already satisfied: six>=1.4.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from opencage) (1.12.0)
Requirement already satisfied: Requests>=2.2.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from opencage) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from Requests>=2.2.0->opencage) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from Requests>=2.2.0->opencage) (2019.9.11)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from Requests>=2.2.0->opencage) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from Requests>=2.2.0->opencage) (3.0.4)
Installing collected packages: opencage
Successfully installed opencage-1.2

In [3]:
from opencage.geocoder import OpenCageGeocode
from pprint import pprint

In [4]:
key = 'd493e62ce8d246499b1284168e580ba8'
geocoder = OpenCageGeocode(key)

In [5]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_13c5f23e088e4651bc569838bd3166ec = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='D7dgshw8K8_2UknjqSOB6TgmmOod-IMOmOWKQrUmQ5J2',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_13c5f23e088e4651bc569838bd3166ec.get_object(Bucket='datascience320finalproject-donotdelete-pr-oghkbzvbwhznzj',Key='Ready_Soft_Dev.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df1 = pd.read_csv(body)
df1.head()

                City     State                              title  a_mean
0          Anchorage   Alaska   Software Developers, Applications   52.53
1     Auburn-Opelika  Alabama   Software Developers, Applications   39.80
2  Birmingham-Hoover  Alabama   Software Developers, Applications   41.90
3            Decatur  Alabama   Software Developers, Applications   41.43
4         Huntsville  Alabama   Software Developers, Applications   50.09

In [6]:
list_lat = []   # create empty lists

list_long = []


	
for index, row in df1.iterrows(): # iterate over rows in dataframe



    City = row['City']
    State = row['State']       
    query = str(City)+','+str(State)

    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']

    list_lat.append(lat)
    list_long.append(long)

	
# create new columns from lists

In [7]:
df1['lat'] = list_lat   

df1['lon'] = list_long

In [8]:
df1

,City,State,title,a_mean,lat,lon
0,Anchorage,Alaska,"Software Developers, Applications",52.53,61.216313,-149.894852
1,Auburn-Opelika,Alabama,"Software Developers, Applications",39.80,32.611121,-85.437537
2,Birmingham-Hoover,Alabama,"Software Developers, Applications",41.90,33.370890,-86.814073
3,Decatur,Alabama,"Software Developers, Applications",41.43,34.618810,-87.051507
4,Huntsville,Alabama,"Software Developers, Applications",50.09,34.729847,-86.585901
5,Mobile,Alabama,"Software Developers, Applications",43.37,30.694357,-88.043054
6,Montgomery,Alabama,"Software Developers, Applications",43.29,32.366966,-86.300648
7,Fayetteville-Springdale-Rogers,Arkansas,"Software Developers, Applications",43.51,36.042826,-94.233876
8,Fort Smith,Arkansas,"Software Developers, Applications",40.17,35.387222,-94.424898
9,Jonesboro,Arkansas,"Software Developers, Applications",30.84,35.842865,-90.703452
10,Little Rock-North Little Rock-Conway,Arkansas,"Software Developers, Applications",40.95,34.708985,-92.235641
11,Flagstaff,Arizona,"Software Developers, Applications",42.63,35.198752,-111.651823
12,Lake Havasu City-Kingman,Arizona,"Software Developers, Applications",39.38,34.509740,-114.347971
13,Phoenix-Mesa-Scottsdale,Arizona,"Software Developers, Applications",48.03,33.509210,-111.899030
14,Sierra Vista-Douglas,Arizona,"Software Developers, Applications",45.21,31.557415,-110.285414
15,Tucson,Arizona,"Software Developers, Applications",40.87,32.222876,-110.974848
16,Bakersfield,California,"Software Developers, Applications",54.42,35.373871,-119.019464
17,Chico,California,"Software Developers, Applications",52.31,39.728494,-121.837478
18,Fresno,California,"Software Developers, Applications",52.15,36.739442,-119.784831
19,Los Angeles-Long Beach-Anaheim,California,"Software Developers, Applications",55.24,33.782733,-118.138921
20,Madera,California,"Software Developers, Applications",57.84,37.171626,-119.773799
21,Modesto,California,"Software Developers, Applications",43.72,37.639097,-120.996878
22,Oxnard-Thousand Oaks-Ventura,California,"Software Developers, Applications",59.10,34.180157,-118.509830
23,Riverside-San Bernardino-Ontario,California,"Software Developers, Applications",49.51,34.019537,-117.619614
24,Sacramento--Roseville--Arden-Arcade,California,"Software Developers, Applications",51.38,38.590318,-121.486118
25,Salinas,California,"Software Developers, Applications",55.55,36.674412,-121.655037
26,San Diego-Carlsbad,California,"Software Developers, Applications",53.53,33.127868,-117.311664
27,San Francisco-Oakland-Hayward,California,"Software Developers, Applications",69.25,34.280677,-118.439247
28,San Jose-Sunnyvale-Santa Clara,California,"Software Developers, Applications",63.33,37.368830,-122.036350
29,Santa Cruz-Watsonville,California,"Software Developers, Applications",55.39,36.919252,-121.756161
...,...,...,...,...,...,...
275,Staunton-Waynesboro,Virginia,"Software Developers, Applications",39.41,37.805392,-79.846572
276,Virginia Beach-Norfolk-Newport News,Virginia,"Software Developers, Applications",47.39,36.844156,-75.981121
277,Winchester,Virginia,"Software Developers, Applications",40.62,39.185218,-78.165240
278,Burlington-South Burlington,Vermont,"Software Developers, Applications",50.39,44.466994,-73.170960
279,Bellingham,Washington,"Software Developers, Applications",48.55,48.754401,-122.478836
280,Bremerton-Silverdale,Washington,"Software Developers, Applications",48.75,47.565366,-122.624684
281,Kennewick-Richland,Washington,"Software Developers, Applications",51.59,46.230674,-119.092101
282,Mount Vernon-Anacortes,Washington,"Software Developers, Applications",52.17,48.419677,-122.338803
283,Olympia-Tumwater,Washington,"Software Developers, Applications",54.39,47.012918,-122.900455
284,Seattle-Tacoma-Bellevue,Washington,"Software Developers, Applications",64.23,47.610380,-122.200680
285,Spokane-Spokane Valley,Washington,"Software Developers, Applications",38.12,47.657110,-117.261394
286,Yakima,Washington,"Software Developers, Applications",46.16,46.601557,-120.510842
287,Appleton,Wisconsin,"Software Developers, Applications",45.75,44.261134,-88.406760
288,Eau Claire,Wisconsin,"Software Developers, Applications",29.42,44.811349,-91.498494
289,Fond du Lac,Wisconsin,"Software Developers, Applications",38.06,43.774876,-88.445803
290,Green Bay,Wisconsin,"Software Developers, Applications",38.22,44.512638,-88.012579
291,Janesville-Beloit,Wisconsin,"Software Developers, Applications",37.00,42.672025,-89.204603
292,La Crosse-Onalaska,Wisconsin,"Software Developers, Applications",35.22,43.845521,-91.262361
293,Madison,Wisconsin,"Software Developers, Applications",41.99,43.074761,-89.383761
294,Milwaukee-Waukesha-West Allis,Wisconsin,"Software Developers, Applications",44.03,44.322088,-89.734735
295,Oshkosh-Neenah,Wisconsin,"Software Developers, Applications",41.36,44.080817,-88.564834
296,Racine,Wisconsin,"Software Developers, Applications",42.59,42.726052,-87.782524
297,Sheboygan,Wisconsin,"Software Developers, Applications",40.28,43.750828,-87.714530
298,Wausau,Wisconsin,"Software Developers, Applications",45.67,44.959602,-89.629824
299,Charleston,West Virginia,"Software Developers, Applications",34.97,38.350600,-81.633281
300,Huntington-Ashland,West Virginia,"Software Developers, Applications",32.85,38.410222,-82.435487
301,Morgantown,West Virginia,"Software Developers, Applications",51.56,39.629681,-79.955944
302,Weirton-Steubenville,West Virginia,"Software Developers, Applications",34.19,39.077365,-78.593865
303,Wheeling,West Virginia,"Software Developers, Applications",37.03,40.063962,-80.720915
304,Cheyenne,Wyoming,"Software Developers, Applications",35.41,41.139981,-104.820246

In [9]:
df_SoftPayRange = df1[['a_mean','lat','lon']]
df_SoftPayRange.head()

   a_mean        lat         lon
0   52.53  61.216313 -149.894852
1   39.80  32.611121  -85.437537
2   41.90  33.370890  -86.814073
3   41.43  34.618810  -87.051507
4   50.09  34.729847  -86.585901

In [10]:
df_SoftPayRange.describe()

           a_mean         lat         lon
count  305.000000  305.000000  305.000000
mean    43.780164   38.252712  -92.231631
std      6.272165    5.366453   16.197469
min     21.810000   20.242320 -168.021815
25%     39.410000   34.729847  -98.125735
50%     43.290000   39.158168  -87.714530
75%     48.030000   42.037250  -80.624079
max     69.250000   61.216313  -68.777814

In [15]:
# create empty lists

list_PayRange = []


	
for index, row in df_SoftPayRange.iterrows(): # iterate over rows in dataframe



    query = row['a_mean']
    if query <= 40:
        level = 'low Pay'
    elif query <= 50:
        level = 'Medium Pay'
    elif query > 50:
        level = 'High Pay'
    list_PayRange.append(level)
	
# create new columns from lists

In [16]:
df_SoftPayRange['PayRange'] =list_PayRange

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
df_SoftPayRange

     a_mean        lat         lon    PayRange
0     52.53  61.216313 -149.894852    High Pay
1     39.80  32.611121  -85.437537     low Pay
2     41.90  33.370890  -86.814073  Medium Pay
3     41.43  34.618810  -87.051507  Medium Pay
4     50.09  34.729847  -86.585901    High Pay
5     43.37  30.694357  -88.043054  Medium Pay
6     43.29  32.366966  -86.300648  Medium Pay
7     43.51  36.042826  -94.233876  Medium Pay
8     40.17  35.387222  -94.424898  Medium Pay
9     30.84  35.842865  -90.703452     low Pay
10    40.95  34.708985  -92.235641  Medium Pay
11    42.63  35.198752 -111.651823  Medium Pay
12    39.38  34.509740 -114.347971     low Pay
13    48.03  33.509210 -111.899030  Medium Pay
14    45.21  31.557415 -110.285414  Medium Pay
15    40.87  32.222876 -110.974848  Medium Pay
16    54.42  35.373871 -119.019464    High Pay
17    52.31  39.728494 -121.837478    High Pay
18    52.15  36.739442 -119.784831    High Pay
19    55.24  33.782733 -118.138921    High Pay
20    57.84  37.171626 -119.773799    High Pay
21    43.72  37.639097 -120.996878  Medium Pay
22    59.10  34.180157 -118.509830    High Pay
23    49.51  34.019537 -117.619614  Medium Pay
24    51.38  38.590318 -121.486118    High Pay
25    55.55  36.674412 -121.655037    High Pay
26    53.53  33.127868 -117.311664    High Pay
27    69.25  34.280677 -118.439247    High Pay
28    63.33  37.368830 -122.036350    High Pay
29    55.39  36.919252 -121.756161    High Pay
..      ...        ...         ...         ...
275   39.41  37.805392  -79.846572     low Pay
276   47.39  36.844156  -75.981121  Medium Pay
277   40.62  39.185218  -78.165240  Medium Pay
278   50.39  44.466994  -73.170960    High Pay
279   48.55  48.754401 -122.478836  Medium Pay
280   48.75  47.565366 -122.624684  Medium Pay
281   51.59  46.230674 -119.092101    High Pay
282   52.17  48.419677 -122.338803    High Pay
283   54.39  47.012918 -122.900455    High Pay
284   64.23  47.610380 -122.200680    High Pay
285   38.12  47.657110 -117.261394     low Pay
286   46.16  46.601557 -120.510842  Medium Pay
287   45.75  44.261134  -88.406760  Medium Pay
288   29.42  44.811349  -91.498494     low Pay
289   38.06  43.774876  -88.445803     low Pay
290   38.22  44.512638  -88.012579     low Pay
291   37.00  42.672025  -89.204603     low Pay
292   35.22  43.845521  -91.262361     low Pay
293   41.99  43.074761  -89.383761  Medium Pay
294   44.03  44.322088  -89.734735  Medium Pay
295   41.36  44.080817  -88.564834  Medium Pay
296   42.59  42.726052  -87.782524  Medium Pay
297   40.28  43.750828  -87.714530  Medium Pay
298   45.67  44.959602  -89.629824  Medium Pay
299   34.97  38.350600  -81.633281     low Pay
300   32.85  38.410222  -82.435487     low Pay
301   51.56  39.629681  -79.955944    High Pay
302   34.19  39.077365  -78.593865     low Pay
303   37.03  40.063962  -80.720915     low Pay
304   35.41  41.139981 -104.820246     low Pay

[305 rows x 4 columns]

In [18]:
project.save_data(data=df_SoftPayRange.to_csv(index=False),file_name='SoftAppDevPayRange.csv',overwrite=True)

{'file_name': 'SoftAppDevPayRange.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'datascience320finalproject-donotdelete-pr-oghkbzvbwhznzj',
 'asset_id': '995e79af-77c9-40ff-899e-e94e0557fafd'}